<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <h1>目前是M13 P9</h1>
    <div class="btn-group ms-3">
        <% for (let i=1; i <=last_page; i++) { %>
            <a href="/pages/<%= i %>" class="btn btn-primary" type="button">
                <%= i %>
            </a>
            <% } %>
    </div>
    <table border="5">
        <thead>
            <tr>
                <th>編號</th>
                <th>名稱</th>
                <th>電話</th>
                <th>地址</th>
                <th>大人口罩庫存</th>
                <th>小孩口罩庫存</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<apple.length; i++) { %>
                <tr>
                    <td>
                        <%= apple[i].id %>
                    </td>
                    <td>
                        <%= apple[i].name %>
                    </td>
                    <td>
                        <%= apple[i].phone %>
                    </td>
                    <td>
                        <%= apple[i].address %>
                    </td>
                    <td>
                        <%= apple[i].adult_mask %>
                    </td>
                    <td>
                        <%= apple[i].child_mask %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <hr>
    <p>
        目前是第<%= curr_page %>頁
    </p>
    <p>
        總共有<%= total_nums %>筆資料
    </p>
    <p>
        總共有<%= last_page %>頁
    </p>
</body>

</html>